In [15]:
import numpy as np
import pandas as pd

In [162]:
# 3.
d2=np.random.randint(0,55,15)
d2.sort()
second_largest=d2[-2]
second_largest

53

In [166]:
# 3.(OR)
numbers = [10000, 5000, 800, 200, 100]
numbers.sort()
second_no=numbers[-2]
second_no

5000

In [100]:
# 4.
data={
    'city':('mum','amt','pune','bang','hyd','amt','mum','pune','bang','hyd'),
    'age':(66,35,45,56,44,38,51,44,29,39)
}
d1=pd.DataFrame(data)
print(d1)

   city  age
0   mum   66
1   amt   35
2  pune   45
3  bang   56
4   hyd   44
5   amt   38
6   mum   51
7  pune   44
8  bang   29
9   hyd   39

In [104]:
# 5.
d1.groupby('city')['age'].mean()

city
amt     36.5
bang    42.5
hyd     41.5
mum     58.5
pune    44.5
Name: age, dtype: float64

In [128]:
# 6.
d1[(d1['age']>30) & (d1['age']<40)]

  city  age
1  amt   35
5  amt   38
9  hyd   39

In [134]:
# 7.
pd.pivot_table(d1,index=['city'],values=['age'])

       age
city
amt   36.5
bang  42.5
hyd   41.5
mum   58.5
pune  44.5

In [142]:
# 9.
d1['age']=d1['catorgry'].map({d1['age']>30:'young',d1['age']<30:'adult'})

KeyError: 'catorgry'

In [144]:
# 10.
print(d1.rank())

   city   age
0   7.5  10.0
1   1.5   2.0
2   9.5   7.0
3   3.5   9.0
4   5.5   5.5
5   1.5   3.0
6   7.5   8.0
7   9.5   5.5
8   3.5   1.0
9   5.5   4.0

In [170]:
d1['age']=d1['age'].apply(lambda x: ['age']+2)

TypeError: can only concatenate list (not "int") to list